body {
  background-color: #000;
  color: #fff;
  font-family: monospace;
  padding: 20px;
  line-height: 1.5;
}

pre {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: none;
  white-space: pre;
  overflow-x: auto;
}

.comment {
  color: #fff;
  margin-bottom: 5px;
}

/* GitHubリンク用 */
.github-link {
  margin-top: 20px;
}

.github-link a {
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
}

.github-link a:hover {
  color: #ddd;
}
